@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="roundedBox" style="margin: 25px 140px; width: auto; padding: 25px;">
    <div class="wwwText">
        <strong>About the Inventory</strong>
    </div>
    <p></p>
    <span class="searchStep">What is the ED Data Inventory?</span>
    <ul>
        <li>The ED Data Inventory describes data reported to the Department of Education as part of grant activities, along with administrative and statistical data assembled and maintained by the Department.</li> 
        <li>The ED Data Inventory includes descriptive information about each data collection along with information on the specific data elements in individual data collections.</li>
    </ul>    
    <p></p>
    <span class="searchStep">How is the ED Inventory Organized?</span>
    <ul>
        <li>The ED Data inventory is organized into <strong>series</strong> and <strong>studies</strong>.</li> 
        <li><strong>Studies</strong> are surveys conducted by the Department of Education.</li> 
        <li>A <strong>Series</strong> is a collection of studies that are repeated over time. For example, the Integrated Postsecondary Data System (IPEDS) is a series that includes all of the IPEDS Studies, which consists of all the IPEDS surveys for a specific year.</li> 
        <li>The ED Data Inventory includes information for each study and series in the inventory.</li> 
    </ul>
    <p></p>
    <span class="searchStep">Series Information Includes:</span>
    <ul>
        <li>Name of the Series investigator</li> 
        <li>Description of the Series and list of Studies includes in the Series</li>  
        <li>List of Series files and information on files including:<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>File Name<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Dataset Title<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>File Location<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>File Format<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Study Name
        </li> 
        <li>Search function which can be used to:<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>List all variables in the Series<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Search for variables using keyword
        </li> 
    </ul>
    <p></p>
    <span class="searchStep">Study Information Includes:</span>
    <ul>
        <li>Alternative titles for the Survey</li>
        <li>Information about the investigator</li>
        <li>Summary of the Study</li>
        <li>Series Name</li>
        <li>URL for the Study</li>
        <li>Scope of the Study</li>
        <li>System of Records Notice Number (SORN)</li>
        <li>Access notes (includes list of reports issued from study and information on data access and availability)</li>
        <li>Methodology Section<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>List of respondent types<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Response rates by respondent type<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Description of respondents<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Type and source of data (i.e., Survey or Administrative Data)<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Purpose of data collection<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Number of cases in study<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Whether survey is voluntary or mandatory<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Confidentiality pledge (if applicable)<br />
            <span class="ui-icon ui-icon-triangle-1-e icon orange"></span>Mode of data collection
        </li> 
    </ul> 
    <p></p>
    <span class="searchStep">Background</span>
    <ul>
        <li>On May 9, 2013, President Obama issued an Executive Order <a href="http://www.whitehouse.gov/the-press-office/2013/05/09/executive-order-making-open-and-machine-readable-new-default-government-" target="_blank">“Making Open and Machine Readable the New Default for Government Information”</a>, in which he stated that</li>
    </ul>
    <p style="margin: 0 75px; text-align: justify; font-family: 'TeXGyreAdventorRegular';">
        “Openness in government strengthens our democracy, promotes the delivery of efficient and effective services to the public, and contributes to economic growth….and making information resources easy to find, accessible, and useful can fuel entrepreneurship, innovation, and scientific discovery that improves Americans’ lives and contributes significantly to job creation.”
    </p>
    <ul>
        <li>To this end, the President declared that open and machine readable is the new default state for Government data, and the Executive Order instructed the Director of the Office of Management and Budget (OMB) to issue an Open Data Policy “to advance the management of government information as an asset.”</li> 
        <li>The resulting OMB Memorandum (M-13-13), Open Data Policy—Managing Information as an Asset, involves agencies maintaining internal and external asset inventories. Specifically each agency is tasked with using a common format to maintain a complete listing of all datasets owned, managed, collected, and/or created by the agency.</li>
        <li>The ED Data Inventory is the U.S. Department of Education’s external asset inventory.</li> 
    </ul>           
</div>