<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ED Data Inventory</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="~/js/federated-analytics.all.min.js"></script>
    </head>
    <body>
        @RenderBody()                
        <script src="~/Scripts/private/CollectionDetail.js"></script>
    </body>
</html>

